<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/top.css}" type="text/css">
    <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/js/top.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>top</title>
</head>
<body class="body">
<div class="center">
	<div th:text="${userData.userId}"></div>
	<div th:text="${userData.userName}"></div>
	<div th:text="${userData.lastLoginDate}"></div>
	<div th:text="${userData.registDate}"></div>
	<div th:text="${userProfileData.iconImageFileName}"></div>
	<div th:text="${userProfileData.statusCd}"></div>
	<div th:text="${userProfileData.histNum}"></div>
	<div th:text="${userProfileData.favoriteSubjectCd}"></div>
	<div th:text="${userProfileData.other}"></div>
	<div th:text="${userProfileData.updateDate}"></div>
</div>
<div class="center" th:each="list : ${interestList}">
	<div th:text="${list.interestCd}"></div>
</div>
</body>
</html>